body {
    margin : 0px;
    background-color:#CFFAFE;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height : 35vh;
    max-width : 50vw;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    background-color: #ECFDF5;
    padding: 25px;
}

img {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 20px;
    border: 5px dotted #CFFAFE;
}

button {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #CFFAFE;
    border: 1px solid black;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}